.link-font-size {
	font-size: 14px;
}

.nav-link-item {
	font-size: 20px;
	margin-bottom: 40px;
	margin-left: 50px;
}

.margin-r {
	margin-right: 40px;
}

.margin-r-70 {
	margin-right: 70px;
}

.margin-l {
	margin-left: 30px;
}

.border-0 {
	border-radius: 0px;
}

.brand-admin {
	margin-top: 17px;
	margin-bottom: 17px;
}

.sidebar {
	height: 100vh;
	width: 200px;
	background-color: rgb(230, 230, 230);
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
}

.sidebar-row {
	display: flex;
	gap: 1rem;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	width: 100%;
}

.sidebar-row:hover {
	background-color: rgb(200, 200, 200);
}

.text-center {
	text-align: center;
}

.logout-admin {
	position: absolute;
	top: 0px;
	right: 70px;
}
