* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.pointer {
	cursor: pointer;
}

.link-font-size {
	font-size: 14px;
}

.nav-link-item {
	font-size: 20px;
	margin-bottom: 40px;
	margin-left: 50px;
}

.margin-r {
	margin-right: 40px;
}

.margin-r-70 {
	margin-right: 70px;
}

.margin-l {
	margin-left: 30px;
}

.border-0 {
	border-radius: 0px;
}

.brand-admin {
	margin-top: 17px;
	margin-bottom: 17px;
}

.sidebar {
	height: 100vh;
	width: 200px;
	background-color: rgb(230, 230, 230);
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
}

.sidebar-row {
	display: flex;
	gap: 1rem;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	width: 100%;
}

.sidebar-row:hover {
	background-color: rgb(200, 200, 200);
}

.sidebar-row-selected {
	background-color: rgb(100, 100, 100);
	color: white;
}

.sidebar-row-selected:hover {
	background-color: rgb(100, 100, 100);
	color: white;
}

.text-center {
	text-align: center;
}

.logout-admin {
	position: absolute;
	top: 0px;
	right: 70px;
}

.product-container {
	top: 3rem;
	left: 15rem;
	width: 1220px;
}

.product-add-button {
	width: 160px;
}

.product-edit-button {
	width: 80px;
}

.product-delete-button {
	width: 80px;
	margin-right: 10px;
}

.product-name-width {
	width: 200px;
}

.product-button-width {
	width: 200px;
}

.product-image-table {
	margin-right: 10px;
}

th,
td {
	border-bottom: 1px solid rgb(200, 200, 200);
}

.table-header-height {
	height: 50px;
}

.table-row-height {
	height: 80px;
}

.cu-product-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 125px;
	position: relative;
	top: 5rem;
	left: 20rem;
	width: 1100px;
	height: 500px;
	border: 1px solid rgb(230, 230, 230);
	border-radius: 5px;
}

.cu-product-image {
	position: relative;
	width: 300px;
	height: 300px;
}

.cu-product-form {
	width: 400px;
	height: 500px;
}

.cu-product-form-input {
	width: 100%;
}

.brand-center {
	position: absolute;
	top: 18px;
	left: 50%;
	transform: translateX(-50%);
}

.shop-item-container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 40px;
}

.shop-item-parent {
	width: 90%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}

.shop-item-border {
	min-width: 235px;
	min-height: 280px;
	border: 1px solid #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: box-shadow 0.3s;
}

.shop-item-border:hover {
	min-width: 235px;
	min-height: 280px;
	border: 1px solid #ffffff;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
}

.shop-item-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	width: 90%;
	height: 85%;
}

.shop-item-title {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 85%;
}

.order-date-width {
	width: 175px;
}

.order-list-width {
	width: 250px;
}

.order-list-container {
	/* display: flex;
	flex-direction: column;
	justify-content: center; */
	min-height: 80px;
	/* gap: 5px;
	padding-top: 5px;
	padding-bottom: 5px; */
	/* text-align: center; */
}

.order-list-item {
	padding-top: 7px;
	padding-bottom: 7px;
}

.order-list-content {
	margin-right: 10px;
}

.cart-modal-width {
	width: 800px;
	max-width: none !important;
}

.cart-modal-quantity-heigth {
	height: 80px;
}

.cart-modal-total {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 5px;
}

.cart-product-width {
	width: 200px;
}

.cart-product-item {
	padding-left: 30px;
}

.confirm-order-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 125px;
	position: relative;
	top: 2rem;
	width: 1100px;
	height: 550px;
	border: 1px solid rgb(230, 230, 230);
	border-radius: 5px;
}

.confirm-order-modal-button {
	margin-right: 20px;
	margin-bottom: 20px;
}
